<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body>
		<header>
			<h1>Edit <%=photo.title%>'s Info</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/photo">Photos Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>Photo Attributes:</h2>
			<div class="form-horizontal">
			<form class=".form-group" action="/photo/<%=photo._id%>?_method=PUT" method="post">
				User:
			    <select class="form-control" name="userId">
			        <% for(var i = 0; i < users.length; i++) { %>
			            <option
			                value="<%=users[i]._id%>"
			                <% if(users[i]._id.toString() === photoUser._id.toString()){ %>
			                    selected
			                <% } %>
			                >
			                <%=users[i].username%>
			            </option>
			        <% } %>
			    </select><br/>
					Image Link: <input class="form-control" type="text" name="img" value="<%=photo.img%>"/><br/>
			    Title: <input class="form-control" type="text" name="title" value="<%=photo.title%>"/><br/>
			    Description: <textarea class="form-control" name="description"><%=photo.description%></textarea><br/>
			    <input class="btn btn-default" type="submit" value="Update Photo"/>
			</form>
		</div>
		</main>
	</body>
</html>
