<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href='/css/app.css'>

  </head>
  <body>
    <h1><%=pokemon.name; %></h1>
    </br>
    <img class="card" src=<%=pokemon.img%>>
    <form action="/pokemon/<%=index%>?_method=PUT" method="POST">
          Name: <input class="input" type='text' name="name" value=<%=pokemon.name%>><br/>
    <ul><h3>Types:</h3>
    <%if(pokemon.type != undefined){%>
      <% for(var i = 0; i < pokemon.type.length; i++){ %>
          <li class="li"><input class="input" type='text' name="type" value=<%=pokemon.type[i]%>>
          </li>
          <% } %>
          <% } %>
          Image URL: <input class="input" type='text'name="img" value=<%=pokemon.img%>><br/>
          <ul>
            <%if(pokemon.stats != undefined){%>
            <%if(pokemon.stats.hp != undefined){%>
              <li class="li">HP: <input class="input" type='text'name="hp" value=<%=pokemon.stats.hp%>><br/>
              </li>
              <% } %>
              <%if(pokemon.stats.attack != undefined){%>
                <li class="li">Attack: <input class="input" type='text'name="attack" value=<%=pokemon.stats.attack%>><br/>
              <% } %>
              <%if(pokemon.stats.defense != undefined){%>
                <li class="li">Defense: <input class="input" type='text'name="defense" value=<%=pokemon.stats.defense%>><br/>
              <% } %>
              <% } %>

            </ul>
      <input class="button" type="submit" value="Update Pokemon!"/>
    </form>
    <form action="/pokemon/<%=index; %>?_method=DELETE" method="POST">
<input class="button" type="submit" value="Delete"/>
</form>
  </body>
</html>
